<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        </style>
        <title>アドバイザー登録依頼詳細</title>
    </head>
    <body>
        <div class="container">
            <p>{{last_name}}</p>
            <p>{{requested_time}}</p>
            <p>画像1</p>
            <img src="images/{{image1}}">
            <p>画像2</p>
            <img src="images/{{image2}}">
        </div>
    </body>
</html>