<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .container{
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            }
        </style>
        <title>アドバイザー承認リスト</title>
    </head>
    <body>
        <div class="container">
          <p>{{num}}件</p>
          {{#each items as |i|}}
          <a href="advisor-registration-approval-detail?id={{i.id}}">{{i.approved_time}}: {{i.last_name}} {{i.first_name}}</a>
          {{/each}}
        </div>
    </body>
</html>