<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
          .container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
        </style> 
        <title>管理者メニュー</title>
    </head>
    <body>
        <div class="container">
          <p><a href="advisor-registration-list">アドバイザー新規登録依頼一覧</a></p>
          <p><a href="advisor-registration-approval-list">アドバイザー登録承認履歴一覧</a></p>
          <p><a href="advisor-registration-rejection-list">アドバイザー登録拒否履歴一覧</a></p>
        </div>
    </body>
</html>