<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        </style>
        <title>アドバイザー登録依頼詳細</title>
    </head>
    <body>
        <div class="container">
            <p>{{requested_time}}</p>
            <p>{{last_name}}</p>
            <p>{{first_name}}</p>
            <p>{{last_name_furigana}}</p>
            <p>{{first_name_furigana}}</p>
            <p>{{year}}年{{month}}月{{day}}日</p>
            <p>{{prefecture}} {{city}} {{address_line1}} {{#if address_line2_exists}}{{address_line2}}{{/if}}</p>
            <p>{{email_address}}</p>
            <p>{{telephone_num}}</p>
            <p>{{sex}}</p>
            <p>画像1</p>
            <img src="images/{{image1}}">
            <p>画像2</p>
            <img src="images/{{image2}}">
            <a href="advisor-registration-accept?id={{id}}">承諾する</a>
            <a href="advisor-registration-reject-detail?id={{id}}">拒絶する</a>
        </div>
    </body>
</html>