<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        </style>
        <title>アドバイザー経歴登録依頼詳細</title>
    </head>
    <body>
        <div class="container">
            <p>{{id}}</p>
            <p>{{requested_time}}</p>
            <div>
                <p>経歴情報</p>
                <p>{{company_name}}</p>
                <p>{{department_name}}</p>
                <p>{{office}}</p>
                <p>{{contract_type}}</p>
                <p>{{profession}}</p>
                <p>{{is_manager}}</p>
                <p>{{position_name}}</p>
                <p>{{start_date}}</p>
                <p>{{end_date}}</p> 
                <p>{{annual_income_in_man_yen}}</p>
                <p>{{is_new_graduate}}</p>
                <p>{{note}}</p>
                <p>画像1</p>
                <img src="career-images/{{career_image1}}">
                <p>画像2</p>
                <img src="career-images/{{career_image2}}">
            </div>
            <div>
                <p>身分情報</p>
                <p>{{last_name}}</p>
                <p>{{first_name}}</p>
                <p>{{last_name_furigana}}</p>
                <p>{{first_name_furigana}}</p>
                <p>{{year}}年{{month}}月{{day}}日</p>
                <p>{{prefecture}} {{city}} {{address_line1}} {{#if address_line2_exists}}{{address_line2}}{{/if}}</p>
                <p>{{email_address}}</p>
                <p>{{telephone_num}}</p>
                <p>{{sex}}</p>
                <p>画像1</p>
                <img src="images/{{image1}}">
                <p>画像2</p>
                <img src="images/{{image2}}">
            </div>
            <a href="advisor-career-creation-accept?id={{id}}">承諾する</a>
            <a href="advisor-career-creation-reject-detail?id={{id}}">拒絶する</a>
        </div>
    </body>
</html>