<html>
    <head>
        <meta charset="utf-8">
        <style type="text/css">
            .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            }
        </style>
        <title>アドバイザー登録依頼の拒否</title>
    </head>
    <body>
        <div class="container">
            <p>下記のアドレスの登録を拒否しました。</p>
            <p>{{email_address}}</p>
            <a href="/index.html">TOPへ</a>
        </div>
    </body>
</html>
